* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  background: lightskyblue;
  color: #222;
  width: 100%;
}

.nav .nav-items {
  display: flex;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
}

.nav .nav-items .nav-item {
  list-style: none;
  padding-left: 1.2rem;
  font-size: 1.1rem;
}

.nav-item a {
  text-decoration: none;
  color: navy;
}

.nav-item a:hover {
  opacity: 0.8;
  border-bottom: 3px solid navy;
}

.hide {
  display: none;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container h3 {
  padding: 1rem 1rem 0 1rem;
}

.nc {
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.card {
  position: relative;
  font-size: 1.4rem;
  font-weight: normal;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: skyblue;
  color: #222;
  height: 200px;
  width: 500px;
  margin-top: 1rem;
  transition: 150ms;
  transform: perspective(1000px) rotateY(1deg);
  transform-style: preserve-3d;
}

.card.flip {
  transform: rotateY(179deg);
}

.front {
  position: absolute;
  padding: 2rem;
  margin: auto;
  backface-visibility: hidden;
}

.back {
  /* position: absolute; */
  padding: 2rem;
  margin: 0 auto;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  display: inline-block;
  background: lightgrey;
  border: 1px grey;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 150px;
  margin: 1rem 1rem;
  padding: 8px 8px;
  cursor: pointer;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: grey;
}

@media only screen and (max-device-width: 600px) {
  .nav .nav-items .nav-item {
    font-size: 2.5rem;
    padding: 1rem;
    margin: 0 auto;
  }

  html {
    min-height: calc(100vh - 56px);
  }

  .container {
    height: 100%;
    justify-content: flex-start;
  }

  .container h3 {
    font-size: 4rem;
    padding-top: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .card {
    font-size: 3.5rem;
    width: 700px;
    height: 500px;
    margin: 3rem auto 5rem auto;
  }

  .button-wrapper {
    justify-content: space-evenly;
  }

  .button {
    font-size: 2.5rem;
    width: 320px;
    height: 150px;
    margin: 1rem 2rem;
  }
}
